#!/usr/bin/env python3
"""{{DESCRIPTION}}"""

__version__ = "0.1.0"
__author__ = "John Ayers"


def file_info() -> dict[str, str]:
    """Return module metadata."""
    return {
        "name": "{{PROJECT_NAME}}",
        "description": "{{DESCRIPTION}}",
        "version": __version__,
        "author": __author__,
        "last_updated": "{{DATE}}",
    }
